body {
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk, sans-serif;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.results-final-container {
    width: 100vw;
    height: 42vh;
    padding: 1.5em 2em;
    box-sizing: border-box;
    border-radius: 0 0 1.5em 1.5em;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result-label {
    font-size: 1.1em;
    font-weight: 700;
    transform: translateY(-10px);
    color: hsla(241, 100%, 89%, 85%);
}

.score-display {
    padding: 1.2em 2.3em;
    border-radius: 100em;
    justify-content: space-evenly;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.actual-score {
    font-size: 3.2em;
    font-weight: 700;
    color: white;
}

.total-score {
    font-size: 1.2em;
    font-weight: 500;
    color: hsla(241, 100%, 89%, 40%);
}

.score-rating {
    color: white;
    font-size: 1.4em;
    font-weight: 600;
}

.score-comparison {
    font-size: .9em;
    font-weight: 500;
    text-align: center;
    color: hsla(221, 100%, 96%, 65%);
}


.results-summary-container {
    width: 100vw;
    height: 58vh;
}

.summary-title {
    width: 85%;
    font-weight: 700;
    font-size: 1.2em;

}

.test-component {
    width: 80%;
    padding: 1em 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.component-container {
    width: 40%;
    display: flex;
    font-size: 1.1em;
    font-weight: 700;
    align-items: center;
}

.component-icon {
    width: 1.3em;
    margin-right: .8em;
}

.component-grade {
    width: 25%;
    display: flex;
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.749);
}

.component-grade span {
    display: flex;
    align-items: center;
}

.component-total-score {
    color: hsla(224, 30%, 27%, 50%);
}

.reaction {
    background-color: hsla(0, 100%, 67%, 7%);
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 7%);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 7%);
    color: hsla(166, 100%, 37%, 0.677);
}

.visual {
    background-color: hsla(234, 85%, 45%, 5%);
    color: hsl(234, 85%, 45%);
}

.continue-button {
    color: white;
    font-size: 1.2em;
    border-radius: 2em;
    padding: .7em 35%;
    text-decoration: none;
    background-color: hsl(224, 30%, 27%);
}

@media (min-width: 420px) {
    .score-rating {
        font-size: 1.7em;
    }

    .score-comparison {
        font-size: 1.2em;
    }

    .summary-title {
        font-size: 1.5em;
    }
}

@media (min-width: 550px) {
    .score-rating {
        font-size: 1.9em;
    }

    .score-comparison {
        font-size: 1.5em;
    }

    .summary-title {
        font-size: 1.7em;
    }

    .component-container {
        font-size: 1.4em;
    }

    .component-grade {
        font-size: 1.4em;
    }
}

@media (min-width: 900px) {
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(221, 100%, 96%);
    }

    .panel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 55%;
        max-width: 800px;
        max-height: 800px;
        border-radius: 2em;
        background-color: white;
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.205);
    }

    .results-final-container {
        width: 50%;
        height: 100%;
        flex: 1;    
        border-radius: 2em;
    }

    .score-display {
        font-size: 1.5em;
        padding: 1.2em 2.3em;
        border-radius: 100em;
    }

    .results-summary-container {
        width: 50%;
        height: 100%;
        flex: 1.2;
    }

    .score-display {
        padding: 1.2em 2em
    }

    .actual-score {
        font-size: 2em;
    }

    .total-score {
        font-size: .7em;
    }

    .result-label {
        font-size: 1.2em;
    }

    .score-rating {
        font-size: 1.2em;
    }

    .score-comparison {
        font-size: 1em;
    }

    .summary-title {
        font-size: 1.1em;
    }

    .component-container {
        font-size: 1em;
    }

    .component-name {
        font-size: .9em;
    }

    .component-grade {
        font-size: .8em;
    }

    .continue-button {
        padding: .5em 30%;
        font-size: 1em;
    }
}
/* 
@media (min-width: 1200px) {
    .result-label {
        font-size: 1.5em;
    }

    .score-rating {
        font-size: 1.5em;
    }

    .score-comparison {
        font-size: 1.5em;
    }

    .summary-title {
        font-size: 1.4em;
    }

    .component-container {
        font-size: 1.3em;
    }

    .component-grade {
        font-size: 1.3em;
    }
} */