body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: figtree;
    background-color: hsl(47, 88%, 63%);
}

.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel {
    width: min(90%, 350px);
    text-decoration: none;
    color: black;
    min-height: 460px;
    padding: 1em 1.3em;
    border-radius: 1em;
    border: 1.5px solid black;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 6px 7px black;
    transition: box-shadow .3s ease-in-out;
}

.card-image {
    width: 100%;
    justify-self: stretch;
    min-height: 185px;
    border-radius: 1em;
    transform: translateY(-10px);
    background-image: url(../assets/images/illustration-article.svg);
    background-position: -40px;
}

.card-category {
    display: inline-block;
    padding: .4em .8em; 
    border-radius: .5em;
    font-weight: bold;
    font-size: .7em;
    background-color: hsl(47, 88%, 63%);
}

.card-publication-date {
    font-size: .75em;
}

.card-title {
    margin: 0 0 .3em;
    font-size: 1.1em;
    font-weight: 800;
    word-spacing: 1.2px;
    transition: color .3s ease-in-out;
}

.card-description {
    color: hsl(0, 0%, 42%);
    font-size: .75em;
    line-height: 1.3em;
}

.author-information {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.author-image {
    width: 10%;
    margin-right: 1em;
}

.author-name {
    font-size: .8em;
    font-weight: bold;
    color: black;
}

.panel:hover + .card-title{
    color: hsl(47, 88%, 63%);
}

@media (min-width: 390px) {
    .card-title {
        font-size: 1.3em;
    }

    .card-description {
        font-size: .9em;
    }
}

@media (min-width: 801px) {
    .panel:hover > .card-title {
        color: hsl(47, 88%, 63%);
    }

    .panel:hover {
        box-shadow: 15px 15px  black;
    }
}

